- extends "layout/dashboard.jade"
- block head
  script(src="{{ url_for('static', filename='lib/trumbowyg/trumbowyg.min.js') }}")
  link(rel="stylesheet",type="text/css",href="{{ url_for('static', filename='lib/trumbowyg/ui/trumbowyg.min.css') }}")
  script(src="{{ url_for('static', filename='js/report/comment.js') }}")
- block body
  style.

  .col-md-8.offset-md-2
    .card.mb-20
      .card-block
        .media(style='border-bottom:1px solid #e0e0e0;padding-bottom:8px;')
          img.d-flex.mr-3.rounded(src=report.gravatar_url, width='40', style='margin-right:5px; display:inline-block')
          .media-body
            .mt-0
              a(href='#',data-toggle='tooltip', data-placement='bottom', title='@{{report.author}}')
                b=report.user_fullname
            small.text-muted.timestamp=report.created

        p.card-text
          div
            b Done
          div.mb-10
            !=report.content.done
          div.pt-10(style='border-top:1px dotted #e0e0e0')
            b Todo
          div
            !=report.content.todo
    - for comment in report.comments
      .media.mb-10
        img.d-flex.mr-3.rounded(src=comment.author_gravatar, width='50', data-toggle='tooltip', data-placement='bottom', title='{{comment.author_full_name}}', style='border:3px solid white')
        .media-body.arrow-left
          .card
            .card-block
              div.mb-5!=comment.content
              div
                a(href='#',data-toggle='tooltip', data-placement='bottom', title='@{{comment.author.username}}')
                  small.bold {{comment.author_fullname}}
                small.text-muted.mr-5.ml-5 commented
                small.text-muted.timestamp=comment.pub_time

    form#comment-form.mt-20(action=url_for("report.comment", report_id=report_id), method='post')
      input#comment-input(type='hidden', name='comment')
      input#author-input(type='hidden', name='author', value=session['username'])
      .form-group
        textarea#comment-textarea.form-control(rows='10', autofocus=true)

        .float-right.mt-10
          button.btn.btn-success#comment-btn Comment
