- extends "layout/dashboard.jade"
- block head
  script(src="{{ url_for('static', filename='js/report/index.js') }}")
- block body
  .row
    .col-md-12
      .dropdown.float-left.mr-10
        button.btn.btn-secondary.dropdown-toggle(type="button",id="dropdownMenu1",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true")
          | Filter by User
        .dropdown-menu(aria-labelledby="dropdownMenu1")
          - for item in data.users
            a.dropdown-item(href='{{ url_for("report.index", user=item )}}')=item
      .dropdown.float-left
        button.btn.btn-secondary.dropdown-toggle(type="button",id="dropdownMenu1",data-toggle="dropdown",aria-haspopup="true",aria-expanded="true")
          | Filter by Week
        .dropdown-menu(aria-labelledby="dropdownMenu1")
          a.dropdown-item(href='{{ url_for("report.index") }}')
            | Beginning of Time
          - for item in data.weeks
            a.dropdown-item(href='{{ url_for("report.index", start=item.start.strftime("%Y-%m-%d"), end=item.end.strftime("%Y-%m-%d") )}}')
              =item.start.strftime('%m/%d/%Y') + ' to ' + item.end.strftime('%m/%d/%Y')
      -if not session['is_superuser']
        a.float-right.btn.btn-success(href='{{ url_for("report.new")}}', style='height:38px')
          i.fa.fa-plus
          | Create

  - if not data.contents
    .row
      .col-12
        .white-box.p-20.mt-20
          h4 Reports
          .text-muted.mt-20
            div You haven't wrote any reports yet.
            div But you could definitely start by clicking "Create" button above.
            div Enjoy !
  .row
    .col-12
      .card-masonry.two-columns
        - for item in data.contents
          .card
            .card-block
              - if session['username'] == item.user and item.is_draft
                .actions
                  a(href='{{ url_for("report.edit", id=item.id )}}')
                    i.fa.fa-pencil-square-o
                  a(href='{{ url_for("report.delete", id=item.id )}}')
                    i.fa.fa-times
              .media(style='border-bottom:1px solid #e0e0e0;padding-bottom:8px;')
                img.d-flex.mr-3.rounded(src=item.gravatar_url, width='47', style='margin-right:5px; display:inline-block')
                .media-body
                  .clearfix(style='line-height:27px;')
                    a.float-left(href='#', data-toggle='tooltip', data-placement='bottom', title='@{{item.user}}')
                      b=data.full_names[item.user]
                    .float-right
                      - if item.is_draft:
                        span.badge.badge-danger(style='padding-left:8px;padding-right:8px;') Draft
                      - else
                        a.btn.btn-secondary.btn-sm(href='{{ url_for("report.show", id=item.id )}}') Comment

                  .text-muted
                    small published
                    small.timestamp.ml-5.mr-5 {{item.created}}
                    small.mx-1 &#183;
                    small {{item.project_names}}


              p.card-text
                div.mt-10
                  b Done
                div.mb-10.pt-5
                  !=item.content.done
                div.pt-10(style='border-top:1px dotted #e0e0e0')
                  b Todo
                div.pt-5
                  !=item.content.todo
